.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.footer{
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.body{
  background-color: #add8e6;
}

.imgstyle{
  height: "500px";
  width:"100%";
  border: '4px solid black';
}

.imgstyle{
  height: "50px";
  width:"100%";
  border: '4px solid black';
}

.ul {
  list-style-type: none;
  overflow: hidden;
  float: left;
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
  
  margin-right: 10px;
  font-size: 20px;
}
    
.row-content{
    border-bottom: 1px ridge;
}

.button{
  margin-bottom: 10px;
  width:100%;
}


.cont{
  flex: 1;
  flexDirection: 'row';
  alignItems: 'center';
  justifyContent: 'center';
}
